* {
}

body {
  font-family: "roc-grotesk-wide", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
  font-size: 1.2rem !important;
}

.hero {
  background-color: #7585e2 !important;
}
